*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: monospace;
    color: white;
}
main{
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    .box{
        width: 100%;
        max-width: 600px;
        padding: 20px;
        border-radius: 10px;
        gap: 1rem;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        p{
            color: black;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 600;

            span{
                color: royalblue;
            }
        }
        .top{
            background-color: gray;
            height: 2rem;
            width: 100%;
            border-radius: 20px;
            display: flex;
            justify-content: left;
            align-items: center;
            overflow: hidden;
            
            .downloader{
                width: 0%;
                height: 2rem;
                border-radius: 20px;
                background-color: green;
            }
        }
        .bottom{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            h2{
                color: black;
                font-size: 2rem;
            }

            button{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                padding: 10px;
                font-size: 1.5rem;
                font-weight: bold;
                cursor: pointer;                
                text-decoration: none;
                border: 1px solid black;
                background-color: green;
                color: white;
                transition: all 0.2s ease;

                &:hover{
                    // transform: scale(1.02);
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
                }

                &:active{
                    transform: scale(0.98);
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

@media (max-width: 400px){
    main{
        .box{
            p{

            }
            .top{

            }
            .bottom{
                flex-direction: column;
                h2{

                }
                button{

                }
            }
        }
    }
}