*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
main{
    height: 100%;
    padding: 20px;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card{
        width: 100%;
        max-width: 400px;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        gap: 1rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
        img{
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid black;
        }

        h2{
            font-size: 2.5rem;
            font-weight: 700;
            color: black;
        }

        h3{
            font-size: 2rem;
            font-weight: 500;
            color: gray;
        }
        p{
            font-size: 1rem;
            font-weight: 400;
            color: black;
        }
    }
}