* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
}

main {
  height: 100%;
  width: 100%;
  padding: 20px;
}
main section {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .reel-container {
  height: 100%;
  width: 100%;
  max-width: 300px;
  background-color: gray;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
main section .reel-container::-webkit-scrollbar {
  display: none;
}
main section .reel-container .reel {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(orange, crimson, purple);
  scroll-snap-align: start;
}
main section .reel-container .reel video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .reel-container .reel .all-details {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 85%;
  padding: 1rem;
  background-color: transparent;
}
main section .reel-container .reel .all-details .user-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
main section .reel-container .reel .all-details .user-details .profile {
  gap: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: black;
}
main section .reel-container .reel .all-details .user-details .profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .reel-container .reel .all-details .user-details .profile span {
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  white-space: text;
}
main section .reel-container .reel .all-details .user-details .profile .follow {
  padding: 5px;
  border-radius: 4px;
  border: 2px solid white;
  text-decoration: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
main section .reel-container .reel .all-details p {
  text-align: left;
  font-size: 0.9rem;
  color: white;
}
main section .reel-container .reel .actions {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: transparent;
  gap: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  bottom: 0;
  right: 0;
  width: 15%;
}
main section .reel-container .reel .actions > div h5 {
  pointer-events: none;
}
main section .reel-container .reel .actions > div h6 {
  pointer-events: none;
}
main section .reel-container .reel .actions .interraction-like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}
main section .reel-container .reel .actions .interraction-like h5 .love {
  color: red;
}
main section .reel-container .reel .actions .interraction-like h6 {
  font-size: 1rem;
}
main section .reel-container .reel .actions .interraction-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}
main section .reel-container .reel .actions .interraction-comment h6 {
  font-size: 1rem;
}
main section .reel-container .reel .actions .interraction-share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}
main section .reel-container .reel .actions .interraction-share h6 {
  font-size: 1rem;
}
main section .reel-container .reel .actions .more {
  cursor: pointer;
}

@media (max-width: 431px) {
  main {
    padding: 0;
  }
  main section {
    width: 100%;
  }
  main section .reel-container {
    max-width: 100%;
    border-radius: 0;
  }
}/*# sourceMappingURL=style.css.map */