*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: whitesmoke;
}

body{
    anchor-name: --some-anchor;
}

nav{
    width: 100%;
    padding: 20px;
    font-size: 1.5rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        width: 100%;
        padding: 10px;
        border-radius:10px;
    }

    .nav-icons{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon{
            text-align: center;
            width: 10rem;
            padding: 10px;
            border-radius:10px;
            //background-color: whitesmoke;
            //color: black;

            &:hover{
                anchor-name: --some-anchor;
            }
        }

        .anchor{
            position-anchor: --some-anchor;
            position: fixed;
            pointer-events: none;
            border-radius: 10px;
            background-color: whitesmoke;
            top: anchor(top);
            left: anchor(left);
            right: anchor(right);
            bottom: anchor(bottom);
            transition: all 0.3s linear;
            mix-blend-mode: difference;
        }
    }
}