*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: whitesmoke;
}

@property --rotate{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate{
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg
    }
}

main{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .card{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        max-width: 300px;
        padding-inline: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        border: 0px solid transparent;
        box-shadow: 0 0 0px crimson;
        text-shadow: 0 0 0px crimson;
        background: 
            linear-gradient(black) padding-box,
            conic-gradient(from var(--rotate),black, crimson, black) border-box;
        
        animation: borderAnimate 3s;
        animation-iteration-count: infinite; 
        animation-timing-function: linear;
        animation-play-state: paused;
        transition: all 0.2s linear;

        &:hover{
            animation-play-state: running;
            border-width: 7px;
            box-shadow: 0 0 50px crimson;
            text-shadow: 0 0 10px crimson;
            color: crimson;
        }

        img{
            width: 100%;
            border-radius: 20px;
            object-fit: cover;
        }

        h2{
            font-size: 2rem;
            font-weight: 700;
        }

        p{
            font-size: 1rem;
            font-weight: 500;
        }
    }
}