* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

html{
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: rgb(5, 217, 5);
    font-size: 4rem;
}