*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    color: white;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;

    header{
        height: 100px;
        width: 100%;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: space-between;
        align-items: center;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        h3{
            font-size: 6rem;
            font-weight: 900;
            color: transparent;
            background: linear-gradient(red, blue);
            background-clip: text;
            background-size:cover;
            background-position: center;
        }
        img{
            height: 100px;
            object-fit: cover;
        }
    }
    section{
        height: 80%;
        width: 100%;
        padding: 30px;
        gap: 30px;
        display: flex;

        .cards{
            height: 100%;
            flex: 1;
            background: transparent;
            border-radius: 10px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transition: all 0.4s ease;
            
            img{
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
            }

            .details{
                height: 25%;
                flex:1;
                position: absolute;
                padding: 20px;
                border-radius: 10px;
                background: linear-gradient(transparent, black);
                bottom: -180px;
                transition: all 0.4s ease;

                h2{
                    font-size: 3rem;
                    margin-bottom: 10px;
                }
            }

            &:hover{
                cursor: pointer;
                flex: 3;
                transition: all 0.4s ease-in-out;
            }
            &:hover .details{
                bottom: 0;
                transition: all 0.4s ease-in-out;
            }
            &:hover img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
