*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: clamp(14px, 1vw, 18px);
}
body{
    background-color: #1d1d1d;
}

@mixin flex-coloumn($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section{
    max-width: 2000px;
}
main{
    width: 100%;
    @include flex-coloumn(0rem);
    align-items: center;

    section{
        width: 100%;
        max-width: 2000px;
        @include flex-coloumn(1rem);
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom{
            background-color: #292929;
            @include flex-coloumn(3rem);
            padding: 1.5rem;
            border-radius: 10px;

            .text{
                @include flex-coloumn(0.5rem);

                h1{
                    font-size: 2.5rem;
                    font-weight: 200;
                }
                p{
                    font-size: 1.5rem;
                    font-weight: 300;
                    opacity: 0.6;
                    line-height: 1.5;
                }
                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }
}

@media (min-width: 768px){
    main{
        section.view1{
            flex-direction: row;

            .top, .bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;

                .text{
                    h1{
                        font-size: 3.5rem;
                    }
                    p{
                        width: 80%;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}