* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

:root {
    --x: 400px;
    --y: 400px;
}

body{
    background-image: url(https://i.pinimg.com/1200x/86/dd/b2/86ddb245945497861ae4533c92a1e3f6.jpg); 
    background-size: cover;
    /* background-position: center; */
}

.box {
    height: 100%;
    width: 100%;
    background: radial-gradient(120px at var(--x) var(--y), rgba(255, 255, 255, 0.174), rgba(0, 0, 0, 0.985));
}